body {
        
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b4ddb4+0,83c783+99 */
background: rgb(180,221,180); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(180,221,180,1) 0%, rgba(131,199,131,1) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#83c783',GradientType=0 ); /* IE6-9 */

    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    height: 100%;
    margin: 200;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;

}

form{
    margin: 50px 347px;
    padding: 15px;
}
#inputEmail{
    margin: 0px 0px 20px;
    padding: 10px;

}

#inputNome{
    margin: 0px 0px 20px;
    padding: 10px;

}

#inputAssunto{
    margin: 0px 0px 20px;
    padding: 10px;
}

#inputMensagem{
    margin: 0px 0px 20px;
    padding: 10px;
    height: 200px;
   
}
#inputMensagem.form-control{
    padding-bottom: 160px;
}

.social a[href*="linkedin.com"] {
    background-image: url(../image/linkedin.png);
}

.social a[href*="github.com"] {
    background-image: url(../image/github.png);
}

.social a[href*="youtube.com"] {
    background-image: url(../image/youtube.png);
}

.social a[href*="danielleacsacramento@gmail.com"] {
    background-image: url(../image/gmail.png);
}



footer .container {
    position: relative;
}

footer {
    clear: both;
    padding: 20px 0;
}

}

.social {
    position: absolute;
    top: 12px;
    right: 0;
}
.social li {
    float: left;
    margin-left: 25px;
    list-style-type: none;
}

.social li a {
    /*tamanho da imagem*/
    height: 32px;
    width: 32px;
    /*image replamecent (substituição por imagem)*/
    display: block;
    text-indent: -9999px;
}

.social {
    position: absolute;
    top: 12px;
    right: 0;